* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
}
.col-4 {
    flex-basis: calc((100% / 12) * 4);
    
}